.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.task-form {
  display: block;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

fieldset{
  width: 80%; 
  height: auto; 
  min-height: 150px; 
  padding: 20px;
}

input[type="text"],
input[type="number"],
textarea {
  display: block;
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
}



textarea {
  resize: vertical;
}

.form-actions {
  text-align: center;
  margin-top: 20px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
