.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  width: 700px;
  margin-top: 300px;
  margin-left: 30%;
}
h1,
p {
  text-align: center;
}
input {
  height: 25px;
}

.send {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.condition {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
