<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Admin</title>
		<link rel="stylesheet" href="styles.css" />
	</head>
	<body>
		<header>
			<nav class="navbar navbar-light bg-light">
				<a class="navbar-brand" href="/">Наше приложение</a>
				{% if current_user.is_authenticated %}
                <a class="navbar-brand" href="/pvp">Pvp режим</a>
                <a class="navbar-brand" href="/training">Режим тренировки</a>
				<a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
				{% else %}
				<p>
					<a class="btn btn-primary" href="/register">Зарегистрироваться</a>
					<a class="btn btn-success" href="/login">Войти</a>
				</p>
				{% endif %}
			</nav>
		</header>
		<div class="container">
			<h1>Создание задачи</h1>
			<form method="post" class="task-form">
				<div class="form-group">
					<label>Название задачи</label>
					<input type="text" name="task_name" />
				</div>

				<div class="form-group">
					<label>Лимит памяти</label>
					<input type="text" name="memory_limit" />
				</div>

				<div class="form-group">
					<label>Условие задачи</label>
					<textarea name="task_description" rows="5"></textarea>
				</div>

				<div class="form-group">
					<label>Входные данные</label>
					<textarea name="input_data" rows="2"></textarea>
				</div>

				<div class="form-group">
					<label>Выходные данные</label>
					<textarea name="output_data" rows="2"></textarea>
				</div>

				<div class="form-group">
					<label>Примеры</label>
					<textarea name="examples" rows="2"></textarea>
				</div>

				<div class="form-actions">
					<button type="submit">Отправить</button>
				</div>
			</form>
		</div>
	</body>
</html>
