<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="train.css" rel="stylesheet" />
    <title>Admin</title>
  </head>
  <body>
    <form method="post">
        <div class="label">
            Название задачи
            <input type="text" name="task_name">
            
            Лимит памяти
            <input type="text" name="memory_limit">
            
            Условие задачи
            <textarea name="task_description" rows="5" cols="33"></textarea>
            
            Входные данные
            <textarea name="input_data" rows="2" cols="15"></textarea>
            
            Выходные данные
            <textarea name="output_data" rows="2" cols="15"></textarea>
            
            Примеры
            <textarea name="examples" rows="2" cols="15"></textarea>
        </div>
        <div class="button">
            <button type="submit">Отправить</button>
        </div>
    </form>
  </body>
</html>