{% extends "base.html" %}
{% block title %}Таблица пользователей{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='admin_first.css') }}">
{% endblock %}
{% block content %}
<a class="btn btn-task" href="/admin/task">Добавить задачу</a>
<ul>
    {% for user in users %}
        <li>ID: {{user.id}}, {{ user.name }}, Email: {{user.email}}, Admin: <select><option value="admin">admin</option><option value="user">user</option></select>, Ban: <select><option value="ban">ban</option><option value="ban">unban</option></select></li>
    {% endfor %}
</ul>
<button type="button" id="applytBtn">Применить</button>
{% endblock %}
