{% extends "base.html" %}
{% block title %}Выбор комнаты{% endblock %}
{% block styles %}<link rel="stylesheet" href="{{ url_for('static', filename='choose.css') }}">{% endblock %}
{% block content %}
<div class="choose">
    <a class="btn btn-success" href="/{{ subject }}/pvp/create">Создать комнату</a>

    <br /><br />

    <input
        type="text"
        id="roomCode"
        placeholder="Введите код комнаты"
    />
    <button onclick="joinByCode()">Войти по коду</button>
    <p class="room-list-title">Список комнат: ({{ rooms|length }}):</p>
    {% if rooms %}
        <ul>
            {% for room_id in rooms %}
                <li>
                    Комната: {{ room_id }}
                    <a href="/{{ subject }}/pvp/join/{{ room_id }}">Присоединиться</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Нет активных комнат <a href="/{{ subject }}/pvp/create">Создайте первую</a></p>
    {% endif %}
</div>
{% endblock %}
{% block scripts %}
<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script>
    function joinByCode() {
        const code = document.getElementById('roomCode').value.trim()
        const subject = "{{ subject }}"

        if (!code) {
            alert('Введите код комнаты')
            return
        }
        window.location.href = `/${subject}/pvp/join/${code}`
    }
</script>
{% endblock %}
