{% extends "base.html" %}
{% block title %}Выбор предмета{% endblock %}
{% block styles %}<link rel="stylesheet" href="{{ url_for('static', filename='subject.css') }}">{% endblock %}
{% block content %}
<h1>Выберите предмет</h1>
<a href="/информатика/">Информатика</a>
<a href="/математика/">Математика</a>
<a href="/русский язык/">Русский язык</a>
<a href="/химия/">Химия</a>
<a href="/английский язык/">Английский язык</a>
<a href="/биология/">Биология</a>
<a href="/физика/">Физика</a>
<a href="/география/">География</a>
<a href="/литература/">Литература</a>
<a href="/история/">История</a>
{% endblock %}
