{% extends "base.html" %}
{% block title %}Выбор предмета{% endblock %}
{% block styles %}<link rel="stylesheet" href="{{ url_for('static', filename='subject.css') }}">{% endblock %}
{% block content %}
<h1>Выберите предмет</h1>
<a href="{{ url_for('subject', subject='информатика') }}">Информатика</a>
<a href="{{ url_for('subject', subject='математика') }}">Математика</a>
<a href="{{ url_for('subject', subject='русский язык') }}">Русский язык</a>
<a href="{{ url_for('subject', subject='химия') }}">Химия</a>
<a href="{{ url_for('subject', subject='английский язык') }}">Английский язык</a>
<a href="{{ url_for('subject', subject='биология') }}">Биология</a>
{% endblock %}