{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='tasks.css') }}">
{% endblock %}

{% block content %}
<form method="get">
    <h3>Сложности:</h3>
    {% for difficulty in difficulties %}
    <input type="checkbox" name="difficulty" value="{{ difficulty }}"
           id="diff_{{ loop.index }}" {% if difficulty in selected_difficulties %}checked{% endif %}>
    <label for="diff_{{ loop.index }}">{{ difficulty }}</label><br>
    {% endfor %}

    <h3>Теме:</h3>
    <select name="theme" multiple size="1">
    {% for theme in themes %}
    <option value="{{ theme }}"
            {% if theme in selected_themes %}selected{% endif %}>
        {{ theme }}
    </option>
    {% endfor %}
    </select>

    <br><br>
    <input type="submit" value="Применить фильтры">
    <a href="/{{ subject }}/">Сбросить фильтры</a>
</form>
{% if tasks %}
    {% for task in tasks %}
    <div class="col-md-6 border rounded" style="margin-bottom: 20px;">
        <li>
          <a href="{{ url_for('training', subject=subject, task_id=task.id) }}">
            {{ task.title }}
          </a>
        </li>
        <p>Тема: {{ task.theme or 'Не указана' }}</p>
        <p>Сложность: {{ task.difficulty or 'Не указана' }}</p>
    </div>
    {% endfor %}
{% else %}
    <p>Задачи отсутствуют.</p>
{% endif %}
{% endblock %}
