{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='tasks.css') }}">
{% endblock %}

{% block content %}
<h1>Каталог задач {% if selected_subject %}по предмету "{{ selected_subject }}"{% endif %}</h1>
<form method="get" action="/tasks">
    <select name="subject">
        <option value="">Все предметы</option>
        {% for sub in subjects %}
            <option value="{{ sub }}" {% if sub == selected_subject %}selected{% endif %}>{{ sub }}</option>
        {% endfor %}
    </select>
   <select name="sort_by">
    <option value="difficulty" {% if sort_by == 'difficulty' %}selected{% endif %}>По сложности</option>
    <option value="alphabet"   {% if sort_by in ('theme', 'alphabet') %}selected{% endif %}>
        По теме
    </option>
    </select>
    <button type="submit" class="btn btn-secondary">Применить</button>
</form>
{% if tasks %}
    {% for task in tasks %}
    <div class="col-md-6 border rounded" style="margin-bottom: 20px;">
        <li>
          <a href="{{ url_for('training', task_id=task.id) }}">
            {{ task.title }}
          </a>
        </li>
        <p>Тема: {{ task.theme or 'Не указана' }}</p>
        <p>Сложность: {{ task.difficulty or 'Не указана' }}</p>
    </div>
    {% endfor %}
{% else %}
    <p>Задачи отсутствуют.</p>
{% endif %}
{% endblock %}