{% extends "base.html" %}

{% block title %}Training{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='train.css') }}">
{% endblock %}

{% block content %}
<h1>Режим тренировки</h1>

<div class="condition">
    <h2>{{ task.title }}</h2>
    <p>{{ task.statement }}</p>
    <p>Лимит времени: {{ task.time_limit }}</p>
    <p>Лимит памяти: {{ task.memory_limit }}</p>
</div>

<div class="Input">
    <p>{{ task.input_format }}</p>
    <p>{{ task.output_format }}</p>
</div>

<div class="examples">
    <div class="example">
        <p><strong>Input</strong></p>
        <pre>{{ test.input_data }}</pre>
    </div>

    <div class="example">
        <p><strong>Output</strong></p>
        <pre>{{ test.output }}</pre>
    </div>
</div>

<p>Вердикт: {{ verdict }}</p>

{% if test_passed %}
    <p>Пройдено тестов: {{ test_passed }}</p>
{% endif %}

<div class="task">
    <form class="send" method="post" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">Отправить решение</button>
    </form>
</div>
{% endblock %}
