<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="train.css" rel="stylesheet" />
    <title>Training</title>
  </head>
  <body>
	  <header>
			<nav class="navbar navbar-light bg-light">
				<a class="navbar-brand" href="/">Наше приложение</a>
				{% if current_user.is_authenticated %}
                <a class="navbar-brand" href="/pvp">Pvp режим</a>
                <a class="navbar-brand" href="/training">Режим тренировки</a>
				<a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
				{% else %}
				<p>
					<a class="btn btn-primary" href="/register">Зарегистрироваться</a>
					<a class="btn btn-success" href="/login">Войти</a>
				</p>
				{% endif %}
			</nav>
		</header>
    <h1>Режим тренировки</h1>
    <div class="condition">
      <h2>{{ task.title }}</h2>
      <p>{{ task.statement }}</p>
      <p>Лимит времени: {{ task.time_limit }}</p>
      <p>Лимит памяти: {{ task.memory_limit }}</p>
    </div>
    <div class="Input">
      <p>{{ task.input_format }}</p>
      <p>{{ task.output_format }}</p>
      <p>Примеры</p>
    </div>
    <div class="Table">
      <table>
        <tr>
          <th> input </th>
          <th> output </th>
        </tr>
        <tr>
          <th> 1 2 </th>
          <th> 1 2 </th>
        </tr>
        <tr>
          <th> 3 4 </th>
          <th> 3 4 </th>
        </tr>
      </table>
    </div>
      <div class="task">
			<form class="send" method="post" enctype="multipart/form-data">
                <input type="file" name="file" required />
                <button type="submit">Отправить решение</button>
            </form>
      <div>
  </body>
</html>
