<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="train.css" rel="stylesheet" />
    <title>Training</title>
  </head>
  <body>
    <h1>Режим PvP</h1>
    <div class="condition">
      <h2>Название задачи</h2>
      <p>Лимит памяти</p>
      <p>Условие задачи...</p>
    </div>
    <div class="Input">
      <p>Входные данные</p>
      <p>Выходные данные</p>
      <p>Примеры</p>
    </div>
    <div class="Table">
      <table>
        <tr>
          <th> input </th>
          <th> output </th>
        </tr>
        <tr>
          <th> 1 2 </th>
          <th> 1 2 </th>
        </tr>
        <tr>
          <th> 3 4 </th>
          <th> 3 4 </th>
        </tr>
      </table>
    </div>
      <div class="task">
			<form class="send" method="post" enctype="multipart/form-data">
                <input type="file" name="file" required />
                <button type="submit">Отправить решение</button>
            </form>
      <div>
  </body>
</html>
